/* Todo StyleSheet */

h1#main-head{
	text-decoration: none;
}

h1,h2 {
	text-decoration: underline;
}

#body{
	line-height:2em;
    margin:1em 2em;
    border:4px outset #9a9;
    background:#efe;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    padding-left:25px;
	width:35%;
	position:absolute;
	top: 200px;
	right: 400px;
	left: 400px;
	font-family: 'Pompiere', cursive;
	font-weight: 600;
}

#back {
	background-image: url(/img/background.png);
	position:relative;
	margin-bottom: 500px;
}

ul{
	list-style: square;
	list-style-position:inside;
}

.add {
	text-align:center;
}